# templates/project/source/

templates/.DS_Store
templates/project/.DS_Store
templates/project/source/.DS_Store

templates/project/source/_notes/*
templates/project/source/.sass-cache/*
templates/project/source/stylesheets/*
templates/project/source/fire_app_log.txt
templates/project/source/config.rb