
#sidr-wrapper-right.right
  .rightcont
    ul
      li
        a href="/about/" About
      li
        a href="/what/" What we do
      li
        a href="/award/" Award
      li
        a href="/contact/" Contact

/ #sidr-0.sidr.right 
/   .sidr-inner
/     .sidr-class-content
/       ul
/         li
/           a href="javascript:;" About
/         li
/           a href="javascript:;" What we do
/         li
/           a href="javascript:;" Award
/         li
/           a href="javascript:;" Contact

/ #sidr-0.sidr.right
/   .sidr-inner
/     .sidr-class-title
/     .sidr-class-content
/       ul.sidr-class-menu
/         li.sidr-class-first.sidr-class-leaf
/           a href="home.html"  Home
/         li.sidr-class-leaf
/           a href="portfolio.html"  Portfolio
/         li.sidr-class-leaf
/           a href="services.html"  Services
/         li.sidr-class-leaf.sidr-class-active-trail
/           a.sidr-class-active-trail.sidr-class-active href="agency.html"  Agency
/         li.sidr-class-last.sidr-class-leaf
/           a href="contact.html"  Contact